td{
	text-align:right;
	white-space: nowrap;

}
td.name{
	text-align: left;
	white-space: nowrap;
}
td.important{
	background-color:#FC9898;
}
th{
	text-align:center;
	white-space: nowrap;
}
td span.important{
	background-color:#FC9898;
}
table.bat{
	width: 420px;
}
table.pitch{
	width: 480px;
}
panel {
  width: 500px;
}

#panel > dt {
  border-bottom: solid 1px white;
  background-color: #006400;
  color: white;
  cursor: pointer;
  padding: 10px;
  /*font-weight: bold;*/
  font-size:20px;
  width:480px;
}

#panel > dd {
  border: solid 1px Silver;
  margin: 0px;
  padding: 10px;
  width:480px;
}
panel2 {
  width: 650px;
}

#panel2 > dt {
  border-bottom: solid 1px white;
  background-color: #006400;
  color: white;
  cursor: pointer;
  padding: 10px;
  /*font-weight: bold;*/
  font-size:20px;
  width:650px;
}

#panel2 > dd {
  border: solid 1px Silver;
  margin: 0px;
  padding: 10px;
  width:650px;
}